In [7]:
import pandas as pd
from IPython.display import display



# Load the CSV file (update the path if necessary)
#file_path = "../logs/expWed_Mar_12_205415_UTC_2025.csv"  # Ensure the correct filename

# Read the CSV file (using ";" as the delimiter)
df = pd.read_csv("../logs/expWed_Mar_12_205415_UTC_2025.csv", delimiter=";")

# Display the table
df.head()  # Shows the first 5 rows

display(df.head(100))

,time,datacenter_id,datacenter_name,host_id,type,active,number_of_pes,available_pes,mips,available_mips,...,ram,available_ram,bw,available_bw,storage,available_storage,power_model,vms,ramUtilization,ram_power
300.04,2,Datacenter_1,0,host,True,4,0,10400.0,88.777551,"2600.0,0.0:2600.0,0.0:2600.0,0.0:2600.0,88.777...",...,0.0,10000,0.0,0,0.0,"0.0,92.5,110.0,127.5,145.0,162.5,180.0,197.5,2...","2,394.03460741333333,425.0,20.0:2,433.04793488...",NaN,0.172500,0.0
600.04,2,Datacenter_1,0,host,False,4,4,10400.0,10400.000000,"2600.0,2600.0:2600.0,2600.0:2600.0,2600.0:2600...",...,0.0,10000,0.0,0,0.0,"0.0,92.5,110.0,127.5,145.0,162.5,180.0,197.5,2...",NaN,NaN,1.000000,0.0
300.04,2,Datacenter_1,1,host,True,4,0,10400.0,198.014867,"2600.0,0.0:2600.0,0.0:2600.0,0.0:2600.0,198.01...",...,0.0,10000,0.0,0,0.0,"0.0,92.5,110.0,127.5,145.0,162.5,180.0,197.5,2...","2,351.1199472,285.0,9.0:2,386.23194192000005,4...",NaN,0.144937,0.0
600.04,2,Datacenter_1,1,host,False,4,4,10400.0,10400.000000,"2600.0,2600.0:2600.0,2600.0:2600.0,2600.0:2600...",...,0.0,10000,0.0,0,0.0,"0.0,92.5,110.0,127.5,145.0,162.5,180.0,197.5,2...",NaN,NaN,1.000000,0.0
300.04,2,Datacenter_1,2,host,True,4,0,10400.0,178.508204,"2600.0,0.0:2600.0,0.0:2600.0,0.0:2600.0,178.50...",...,0.0,10000,0.0,0,0.0,"0.0,92.5,110.0,127.5,145.0,162.5,180.0,197.5,2...","2,386.23194192000005,391.0,10.0:2,362.82394544...",NaN,0.111437,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
600.04,2,Datacenter_1,7,host,False,4,4,10400.0,10400.000000,"2600.0,2600.0:2600.0,2600.0:2600.0,2600.0:2600...",...,0.0,10000,0.0,0,0.0,"0.0,92.5,110.0,127.5,145.0,162.5,180.0,197.5,2...",NaN,NaN,1.000000,50.0
300.04,2,Datacenter_1,8,host,True,4,0,10400.0,139.494876,"2600.0,0.0:2600.0,0.0:2600.0,0.0:2600.0,139.49...",...,0.0,10000,0.0,0,0.0,"0.0,92.5,110.0,127.5,145.0,162.5,180.0,197.5,2...","2,421.34393664000004,609.0,11.0:2,366.72527818...",NaN,0.078063,10.0
600.04,2,Datacenter_1,8,host,False,4,4,10400.0,10400.000000,"2600.0,2600.0:2600.0,2600.0:2600.0,2600.0:2600...",...,0.0,10000,0.0,0,0.0,"0.0,92.5,110.0,127.5,145.0,162.5,180.0,197.5,2...",NaN,NaN,1.000000,50.0
300.04,2,Datacenter_1,9,host,True,4,0,10400.0,174.606871,"2600.0,0.0:2600.0,0.0:2600.0,0.0:2600.0,174.60...",...,0.0,10000,0.0,0,0.0,"0.0,92.5,110.0,127.5,145.0,162.5,180.0,197.5,2...","2,355.0212799466667,564.0,10.0:2,417.442603893...",NaN,0.010937,5.0
600.04,2,Datacenter_1,9,host,False,4,4,10400.0,10400.000000,"2600.0,2600.0:2600.0,2600.0:2600.0,2600.0:2600...",...,0.0,10000,0.0,0,0.0,"0.0,92.5,110.0,127.5,145.0,162.5,180.0,197.5,2...",NaN,NaN,1.000000,50.0